# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CubeCatcher.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\CubeCatcher\CubeCatcher\.idea\.idea.CubeCatcher\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
